.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario div {
  width: 100%;
}

.formulario .label-grande {
  width: 50%;
  display: inline-block;
  text-align: right;
}

.formulario .linha-formulario {
  margin-bottom: 15px;
}

.linha-xp {
  display: flex;
}

.linha-xp div {
  display: inline-block;
  width: 40%;
}

@media screen and (max-width: 320px) {
  .formulario input[type="text"] {
    width: 100%;
  }

  .linha-formulario .label-grande {
    width: 100%;
    text-align: center;
  }

  .linha-xp {
    flex-direction: column;
  }

  .linha-xp div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
